@import 'colors';
.cards-wrapper, .card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  color: $white;
  justify-content: center;
}

.card {
  width: 350px;
  height: 100px;
  background-color: $black;
  border-radius: 5px;
  flex-direction: column;
  @media(max-width: 480px) {
    width: 200px;
  }
}

.card img {
  width: 65px;
  height: 65px;
  margin-left: 20px;
  border-radius: 10%;
}

  span {
    margin-right: 5px;
  }

