@import 'colors';
%input {
  width: 100%;
  height: 40px;
  background-color: $light-gray;
  border-radius: 3px;
  padding-left: 10px;
  border: $black;
  margin-right: 15px;
}

.search-input-l {
  @extend %input;
  width: 90%;
}

.search-input-m {
  @extend %input;
  width: 80%;
  @media(max-width: 720px) {
  width: 90%;
  }
}
