@import 'colors';

.link-btn {
  color: $black;
  margin-left: 40px;
  font-size: 17px;
  @media(max-width: 720px) {
    font-size: 15px;
  }
}

.link-btn:hover {
  transform: scale(1.13);
  transition: 0.3s ease transform;
}


.link {
  color: #BFE2FF;
}

.link:hover {
  color: $violet;
}

.link:visited {
  color: $blue;
}
