@import 'reset';
@import 'inputs';
@import 'cards';
@import 'src/components/simple/tables/tables';
@import 'colors';
@import 'link';
@import 'button';
@import 'calendar';
@import 'errors';

%container {
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 1600px;
  text-align: center;
  font-size: 15px;
  padding: 0 10px;

  @media(max-width: 1366px) {
    font-size: 14px;
  }
  @media(max-width: 720px) {
    font-size: 13px;
  }
  @media(max-width: 480px) {
    font-size: 12px;
  }
}

.container {
  @extend %container;
}

.s-container {
  @extend %container;

  text-align: left;
  max-width: 1500px;
}
