.lastUpdated {
  font-size: 13px;
  color: #444446;
}

.select-year {
  background: transparent;
  width: 150px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  height: 40px;
  color: white;
}
