.scheduled {
  width: 115px;
  background-color: #afdafc;
  display: flex;
  border: 1px solid #4169e1;
  color: #003e6a;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;

  img {
    width: 15px;
    height: 15px;
    margin-top: 2.5px;
  }
}
