{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "flow",
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid"
}
